<template>
    <div class="root">
        <three-d-layer></three-d-layer>
        <ui-layer></ui-layer>
    </div>
</template>

<script>
import UiLayer from "./UiLayer.vue";
import ThreeDLayer from "./ThreeDLayer.vue";

import Grid from "./Grid.vue";

export default {
    name: "GameRoot",
    components: {
        UiLayer,
        ThreeDLayer
    },
    props: {}
};
</script>

<style lang="stylus">
.fullscreen
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 0
    padding: 0

.root
    @extend .fullscreen
    position: relative
    
.view-layer
    @extend .fullscreen
    position: absolute
</style>