<template>
    <div>
        <vgl-plane-geometry name="plane" :width="tileSize" :height="tileSize"></vgl-plane-geometry>
        <vgl-mesh-standard-material name="std"></vgl-mesh-standard-material>

        <vgl-group v-for="(row, i) in rows" :key="i" :position="gridPosition">
            <grid-cell v-for="(cell, j) in row" :key="j"
                :row="i"
                :column="j"
            ></grid-cell>
        </vgl-group>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

import GridCell from "./GridCell.vue";

export default {
    name: "Grid",
    components: {
        GridCell
    },
    props: {
        width: Number,
        height: Number,
        x: Number,
        y: Number
    },
    data() {
        let rows = [];
        for (var i = 0; i < this.height; i++) {
            let row = [];
            rows.push(row);
            for (var j = 0; j < this.width; j++) {
                row.push(i * j);
            }
        }

        return {
            rows: rows
        };
    },
    computed: {
        ...mapGetters([
            "tileSize"
        ]),
        tilePosition() {
            return "0 0 0";
        },
        gridPosition() {
            return `${this.x} ${this.y} 0`;
        }
    }
};
</script>

<style lang="stylus" scoped>
.grid-row-list
    display: inline-block
    box-shadow: -30px 30px 32px -3px rgba(0,0,0,0.75)

/*.grid-row*/
</style>