<template>
    <vgl-mesh geometry="plane" material="std" :position="tilePosition"></vgl-mesh>
</template>

<script>
import { mapGetters } from "vuex";

import { createTile } from "../game/tiles/";

export default {
    name: "GridCell",
    props: {
        row: Number,
        column: Number
    },
    data() {
        return {
            tileData: null
        };
    },
    computed: {
        ...mapGetters([
            "tileSize"
        ]),
        tilePosition() {
            return `${this.column * (this.tileSize + 1)} ${this.row * (this.tileSize + 1)} 0`;
        },
        tile() {
            let tileName = this.$store.getters.tileContents(this.row, this.column);
            if (!this.tileData || this.tileData.tileName !== tileName) {
                if (tileName) {
                    this.tileData = createTile(tileName);
                } else {
                    this.tileData = null;
                }
            }
            return this.tileData;
        },
        hasTile() {
            return this.tile != null;
        },
        tileURL() {
            return this.tile ? this.tile.imageURL : "";
        },
        style() {
            return {
                width: this.tileSize + "px",
                height: this.tileSize + "px"
            }
        },
        tileStyle() {
            return {
                transform: 
                    'rotateX(-30deg) ' +
                    'rotateY(0deg) ' +
                    'rotateZ(0deg)'
            }
        }
    }
};
</script>

<style lang="stylus" scoped>
.grid-cell {
    display: inline-block
    outline: 1px solid black;
}

.tile-image {
    width: 100%
    height: 100%
    box-shadow: -8px 9px 10px -3px rgba(0,0,0,0.75)
}
</style>