<template>
    <div class="view-layer" :style="style">
        <vgl-renderer :style="style" antialias>
            <vgl-scene>
                <grid :width="gridWidth" :height="gridHeight" :x="-gridWidth / 2 * tileSize" :y="-gridHeight / 2 * tileSize"></grid>
                <vgl-ambient-light color="#ffeecc"></vgl-ambient-light>
                <vgl-directional-light position="0 1 1"></vgl-directional-light>
            </vgl-scene>
            <vgl-perspective-camera orbit-position="1000 2.6 0;" :zoom="cameraZoom" fov="60"></vgl-perspective-camera>
        </vgl-renderer>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import Grid from "./Grid.vue";

export default {
    name: "ThreeDLayer",
    components: {
        Grid
    },
    props: {},
    data: function() {
        return {};
    },
    computed: {
        ...mapGetters([
            "cameraX",
            "cameraY",
            "cameraRotationX",
            "cameraRotationY",
            "cameraRotationZ",
            "cameraZoom",
            "gridWidth",
            "gridHeight",
            "tileSize"
        ]),
        style() {
            return {
                /*
                transform: 
                'rotateX(' + this.cameraRotationX + ') ' +
                'rotateY(' + this.cameraRotationY + ') ' +
                'rotateZ(' + this.cameraRotationZ + ') ' +
                'scale(' + this.cameraZoom + ') ' +
                'translate3d(' + this.cameraX + ',' + this.cameraY + ', 0px)',
                width: this.gridWidth * this.tileSize + "px",
                height: this.gridHeight * this.tileSize + "px"
                */
               width: "100vw",
               height: "100vh"
            };
        }
    },
    mounted() {
        this.cameraCenter();
    },
    methods: {
        ...mapActions(["cameraCenter"])
    }
};
</script>

<style lang="stylus" scoped></style>