<template>
    <div class="view-layer">
        <div class="debug-layer">
            <div>CameraX: {{cameraX}}</div>
            <div>CameraY: {{cameraY}}</div>
            <div>CameraRotX: {{cameraRotationX}}</div>
            <div>CameraRotY: {{cameraRotationY}}</div>
            <div>CameraRotZ: {{cameraRotationZ}}</div>
            <div>cameraZoom: {{cameraZoom}}</div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: "UiLayer",
    props: {},
    computed: {
        ...mapGetters([
            "cameraX",
            "cameraY",
            "cameraRotationX",
            "cameraRotationY",
            "cameraRotationZ",
            "cameraZoom"
        ])
    }
};
</script>

<style lang="stylus" scoped>

</style>