<template>
    <div id="app">
        <game-root></game-root>
    </div>
</template>

<script>
import GameRoot from "./components/GameRoot.vue";

export default {
    name: "app",
    components: {
        GameRoot
    },
    created() {
        this.$store.dispatch("initializeGrid");
    }
};
</script>
<style lang="stylus">
@import '~flexboxgrid/css/flexboxgrid.min.css';

html, body
    margin: 0px
    padding 0px

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #2c3e50
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 0
    padding: 0
    overflow: hidden
}
</style>
